body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ecf0f1;
}

.container {
  position: relative;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
